<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Mundial 2022 (backend)</title>
    {{!-- Link de GoogleFONTS --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Poppins:wght@200&family=Proza+Libre:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=PT+Serif:ital,wght@0,400;1,400;1,700&family=Red+Hat+Display:ital,wght@0,300;1,500&display=swap" rel="stylesheet">

    {{!-- Link de ESTILOS CSS y NORMALIZE --}}
    <link rel='stylesheet' href='/stylesheets/Normalize.css' />
    <link rel='stylesheet' href='/stylesheets/GeneralLogin.css' />
    <link rel='stylesheet' href='/stylesheets/HeaderNavFooter.css' />
    <link rel='stylesheet' href='/stylesheets/Novedades.css' />
    <link rel='stylesheet' href='/stylesheets/Plantel.css' />
    <link rel='stylesheet' href='/stylesheets/Botones.css' />
    <link rel='stylesheet' href='/stylesheets/Formularios.css' />


    {{!-- Link de iconos FONT-AWESOME --}}
    <script src="https://kit.fontawesome.com/7cab38214f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="contenedor-header">
      <div class="contenedores-secundarios">
        <img class="header-logo" src="/images/LogoArgentina2.png" alt="Logo de Mundial 2022" />
      </div>
      <div class="contenedores-secundarios">
        <h1 class="header-titulo" >Selecci칩n Argentina 2022</h1>
      </div>
    </header>
    {{{body}}}
    <footer class="contenedor-footer">
      <p>P치gina no oficial de la selecci칩n Argentina - Dise침ada por Gonzalo Cepeda</p>
    </footer>
  </body>
</html>