<nav class="contenedor-nav">
  <ul class="nav-lista">
    <li class="lista-item item-usuario" activeclass="activo">{{nombre}}</li>
    <li class="lista-item" activeclass="activo"><a href="/admin/plantel">Plantel</a></li>
    <li class="lista-item" activeclass="activo"><a href="/admin/novedades">Novedades</a></li>
    <li class="lista-item item-sesion" activeclass="activo"><a href="/admin/login/logout">Cerrar Sesión<i class="fa-solid fa-right-from-bracket icono-sesion"></i></a></li>
  </ul>
</nav>
<main class="contenedor-principal">
  <h2 class="titulo-seccion">Incorporar Jugador</h2>
  <form class="contenedor-formulario" action="/admin/plantel/incorporar" method="post" enctype="multipart/form-data">
    <div class="contenedor-secundario">
      <label class="formulario-label formulario-label-1" for="imagen_jugador">Imagen</label>
      <input class="formulario-input formulario-archivo" name="imagen_jugador" type="file" />
    </div>
    <div class="contenedor-secundario">
      <label class="formulario-label" for="nombre">Nombre</label>
      <input class="formulario-input" placeholder="Nombre del jugador..." name="nombre" type="text" />
    </div>
    <div class="contenedor-secundario">
      <label class="formulario-label" for="apellido">Apellido</label>
      <input class="formulario-input" placeholder="Apellido del jugador..." name="apellido" type="text" />
    </div>
    <div class="contenedor-secundario">
      <label class="formulario-label" for="edad">Edad</label>
      <input class="formulario-input" placeholder="Edad del jugador..." name="edad" type="text" />
    </div>
    <div class="contenedor-secundario">
      <label class="formulario-label" for="posicion">Posición</label>
      <input class="formulario-input" placeholder="Posición del jugador..." name="posicion" type="text" />
    </div>
    <div class="contenedor-secundario">
      <label class="formulario-label" for="club">Club</label>
      <input class="formulario-input" placeholder="Club actual del jugador..." name="club" type="text" />
    </div>
    <button class="formulario-boton" type="submit">Incorporar</button>
  </form>
  {{#if error}}
  <p class="mensaje-error">{{message}}</p>
  {{/if}}
</main>